body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  background-color: rgb(43, 134, 46);
  padding: .5rem 1.5rem;
  margin-right: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
  border-radius: .2rem;
}

.togglable {
  width: 80%;
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.title {
  width: 80%;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-left: 1rem;
}

.flex {
  display: flex;
  flex-grow: inherit;
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  text-align: left;
  margin-left: 1rem;
  gap: .5rem;
}

.button-new {
  background-color: rgb(43, 134, 46);
  padding: .5rem 1.5rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
  border-radius: .2rem;
}

.button-cancel {
  background-color: rgba(255, 0, 0, 0.819);
  color: white;
  margin-top: .5rem;
  font-weight: 600;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  border: none;
  border-radius: .2rem;
}

.button-like {
  background-color: rgb(35, 21, 240);
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: .3rem;
  margin-left: 1rem;
}

.button-delete {
  background-color: rgb(43, 134, 46);
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: .2rem;
  margin-bottom: .5rem;
}

.button-exit {
  background-color: rgba(255, 0, 0, 0.819);
  color: black;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: .2rem;
}

h3 {
  font-size: 1.5rem;
}

.styleMessage {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.message-success {
  color: green;
}

.message-error {
  color: red;
}